<div class="row">
  <div class="col-6 p-3 bg-success text-center">
    <h2>One Way</h2>
  </div>
  <div class="col-6 p-3 bg-primary text-center">
    <h2>Two Way</h2>
  </div>
</div>

<div class="row">
  <div class="col-6 bg-success text-center">
    <div class="row">
      <div class="col-6 p-3 bg-success text-center">
        <h2>From .ts to .Html</h2>
        <div class="row text-center">
          <div class="col-3 p-3 bg-success text-center">
            <p>Interpolation</p>
          </div>
          <div class="col-3 p-3 bg-success text-center">
            <p>Property Binding: {{ courseName }}</p>
            <!-- This is interpolation passing variable in component -->
          </div>
        </div>
      </div>

      <div class="col-6 p-3 bg-success text-center">
        <h2>From .Html to .ts</h2>
        <div class="row">
          <div class="col-4 p-3 bg-success text-center">
            <p>Property Binding</p>
            <input
              type="text"
              placeholder="PropertyBinding"
              [value]="courseDuration"
              [minLength]="minTextLength"
              [placeholder]="placeHolder"
            />
          </div>
          <div class="col-4 p-3 bg-success text-center">
            <p>Event Binding</p>
            <button class="btn btn-primary" (click)="showMessage()">Show Message</button>
          </div>
          <div class="col-4 p-3 bg-success text-center">
            <p>Select Country</p>
            <select (change)="onStateChange($event)">
              <option value="US">US</option>
              <option value="UK">UK</option>
              <option value="AUS">AUS</option>
            </select>
          </div>

          <div class="col-4 p-3 bg-success text-center d-flex">
            <p>Select Language</p>
            <button class="btn btn-primary" (click)="showLanguageName('Angular')">Angular</button>
            <button class="btn btn-warning" (click)="showLanguageName('Laravel')">Laravel</button>
            <button class="btn btn-danger" (click)="showLanguageName('React')">React</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-6 bg-success text-center">
    <div class="row">
      <div class="col-3">
        <input type="text" [value]="courseName" placeholder="Course Name">
      </div>
      <div class="col-3">
        <input type="text" [(ngModel)]="courseName" placeholder="Course Name">
      </div>
    </div>
  </div>
</div>
